on:
  push:
  pull_request:

name: Continuous integration

permissions:
  contents: read

env:
  CARGO_TERM_COLOR: always

jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - 1.85.0
          - stable
          - beta
          - nightly

    steps:
      - uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust }}
          components: rustfmt, clippy

      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: ci-${{ matrix.rust }}

      - name: cargo build
        if: ${{ matrix.rust != 'nightly' }}
        run: cargo build

      - name: cargo build (all features)
        if: ${{ matrix.rust == 'nightly' }}
        run: cargo build --all-features

      - name: cargo test
        run: cargo test

      - name: cargo fmt
        if: ${{ matrix.rust == 'stable' }}
        run: cargo fmt --all -- --check

      - name: cargo clippy
        run: cargo clippy

      - uses: EmbarkStudios/cargo-deny-action@v2
